language: scala
sudo: required

jdk:
  - oraclejdk8

services:
  - docker

cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot"

before_install:
  - |
    if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
      openssl aes-256-cbc -K $encrypted_56e8fc46d7cd_key -iv $encrypted_56e8fc46d7cd_iv -in secrets.tar.enc -out secrets.tar -d
      tar xvf secrets.tar
      chmod 777 scripts/publish.sh scripts/test.sh
    fi

jobs:
  include:
    - stage: test
      script: ./scripts/test.sh 2.11.8
      name: "Running test on scala 2.11.8"
    - script: ./scripts/test.sh 2.12.8
      name: "Running test on scala 2.12.8"
    - stage: deploy11
      script: ./scripts/publish.sh 2.11.8
      name: "Deploying scala 2.11.8 artifacts"
    - stage: deploy12
    - script: ./script/publish.sh 2.12.8
      name: "Deploying scala 2.12.8 artifacts"

stages:
  - name: test
  - name: deploy11
    if: branch = master AND type != pull_request
  - name: deploy12
    if: branch = master AND type != pull_request

env:
  global:
  - secure: GAJ+zS9f9zOE6YT6Bukx/t0DxrtX7HDBqCjPOIB2/qAh5CyohEz+619iSD03/5pa81cI4H+nWAj7hRiAfhNYseQZmce/qBa3izzWVbBAdsC8FjF17VL4i6dUmfNLr12hrRYbenKOEw6G4M8RsQnso+P8uZxnPyUFyojn43ohUa78OuPhDsefbkVOTgNSGBLVRm6QISbQdRhj7ik0ucCRlBJKwmu0D3T10t6a8YApFvCaK5A4fAZ3p+BtR0xN78VcKp+OY0TZSdkDqBe43JbBGevYoFkO/3Hp4QwGQ0I3tvOWDAL52HZ5Lk6497CTBz2rgofm9jnpF6BD6Bd03yMN6R48f9Z+9AB/AKq9Wkovp8jEuKkii0c+iVXuPKRPzidNVMbZgjaXJi2c8mF5nnj5YOQdYy6rxXKdHQxBLxMeBVqtEYNGHSvh5R8Ny80nDV2qiX6JIvLRTCNU1oaU/mzwWHcdokWFc4JR+BkTgxefFxpy1HyaU05gqdlJFej/uDhL8bZ3GNU4ZM01ptyFKHhsSkJ0cfryuoDhvibFOQH+8NP+ATrKcRRRikdQs0WN9I2LUz/whmq9ew01VK0I2N1zLIn+ckkkqc8QZok+bFKOFXA+1FhGofkqqrc5MQV5M20ZGquS7VQAl883NKL+wbtMjUM8BNls546wRA0ktxPJ2xs=
  - secure: HA9hoo8JgcgSkUhk1WL3ZV+OXrSOLPkxOLS4Zg7BPWLhH+GY4ZzYneamswnvZ/cWV2KuedsG3AFBJOGdL67FiGVBLXdnyv/Bx0F6/L9MOJASc7jZmcKnKc+f7O/k4YeWdCQekekPie1U9NHfaI+zamOJk+BO23pJ5EbYbcylPRgE0QcmA1aNWyS29t7mUOrDPfRDGqy5hDFaNtM/IcPQoASyU5y0VZIaZ5B9oY5/VsuJTdVX8DBOBktSpFk59iVoIuweaiJvcpRg6+q2Gxcd7coT+hzuv1zvjqMVt5gfl/oG3RkieSyYHwqBdJqfjGCBTlydiVip94KvCI06pgT55sqgnh4xcNDuT8hMZesFqG7+m0CvXtpigPcUn8j8Pw75z/5bbB+SdmQZCPyLUjSfHX7kp2GvspK9f+0yjw7rrHGw+CfogEkIm3vFNA5zTAXJj0PCEJ0sdC24kNegZYUqt0wPDsC1tGfBQkKwH1qXlmUYQCB2H0Irz5n2xWkNhwVbwZIyjohZacd3iciUq1+YWdX1b05XZMOBFaYjrH0gUn0Bao6v+ZW6pDUjA3kB/CgK2iXtM1ySPO5M73XH14TGPmRlXWT8IDYRBl/HU2w88440HuArqVCC+y/IU0KgQsHi0bZSW15GikDL+8Sx+JFPsd7HlTT2MpliiCvY/kXn2uk=
  - secure: mVT8r9RVbmEH89uoI7sjVCW0JRsL75KKohbeoDrcf28bGbc7ISbiTnw4wkdVOMwB2hyLVBMVHjAGVpBikJWkpeZph4MnUhyp1xn6koIVTKLglk2Vxh3SGUuzGP6BVRNs5tGfUftEso5gbDAGyHKwaBQHynlezQHXGYo2qEQ2PCRXIu1GN3PGTDJPGsVKXhZCSGOSvs6TPjkVGr4D7BAexbeQE5DNFLX1U+Wvp21l/8TPsv+s2mqiLM+QkWiQshr/z0YdjgCCy4flSgtdhoqcn8JAOp72cA18r//OTKXDV/vKyQUxJjyAeFxd0+30zur8KD5nIZtsVKbC3GbNMlXojZiYBgik8vBSvZrPM79zXmKz3MewtxMPSC912G98OFVyu5Mkwd7voQ+df8HVVomgSchPCvlN5u+N4ZPtmPSUamocJdcV+5Obc/5WqjYIREmMXohNnQPoDrrpdPuJawFyraRiIwJgxDNVj1Dz8jHVAwdWeNaWXc9X5b55jZ6pySz28hZS1nTjxgfuuLbtMFYS/EI/AU1SxeE8TxEKwwrOcJ4XsbC/klDilx/MGTXqpNa/qK9PRtDLPg5y28waVsfJYvGBbIVuYBn6ROcQ8Kc3xDzgxdErlyFBELoPFEu7iW36UpFGVylhrB7H6/upyiaT/d7R0y2rQgiX6quRkLo0T0c=
